* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header,
.section-one {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    color: white;
}

.header {
    padding: 40px 200px 0px 200px;
    color: #F9FAF8;
}

.header-left {
    font-size: 24px;
    font-weight: 800;
}

.header-right {
    display: flex;
    gap: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.section-one {
    padding: 100px 200px 100px 200px;
    gap: 25px;
}
.section-one-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

button {
    background-color: #3882F6;
    padding: 6px 24px;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    border: solid #3882F6;
    white-space: nowrap;
}

.section-one-right {
    width: 50%;
    background-color: grey;
}

.section-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0 200px 0 200px;

}

h2 {
    align-self: center;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container {
    display: flex;
    text-align: center;
    gap: 16px;
    justify-content: center;
}

.information-image {
    border: 0.3em solid blue;
    height: auto;
}

.section-three {
    background-color: #E5E7EB;
    padding: 100px 250px 100px 250px;
    font-size: 30px;
    font-style: italic;
    color: rgb(68, 68, 68);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
}

.footer-container {
    padding: 100px 200px;
}

.call-container {
    padding: 70px 200px;
}

.call {
    padding: 50px 100px;
    background-color: #3882f6;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-left-one {
    font-weight: bold;
    margin-bottom: 5px;
}

.call-left-two {
    font-size: 14px;
}

.call-right button {
    border-color: #ffffff;
    border-style: solid;
}
.footer {
    padding: 40px 75px;
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 14px;
}